# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# Logs
*.log

# Runtime / local state
*_runtime.json

# Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db